<a href="https://colab.research.google.com/github/ebaadazam/Python-Pandas/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas in Python

In [1]:
import pandas as pd

####Loading the data from the csv file

In [2]:
df = pd.read_csv('pokemon_data.csv')
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

####After reviewing the dataset, we decide to remove the unwanted column ['#'] at the index position 1

####This is how we drop the particular column

In [3]:
df.drop(['#'], axis=1, inplace = True)  # axis =1 means column

In [4]:
df = df.drop(columns=['Generation'])  # We can drop the column like this also

In [5]:
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,False
...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,True
796,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,True
797,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,True
798,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,True

####Loading the data from the Excel file

In [6]:
df_xlsx = pd.read_excel('pokemon_data.xlsx')
df_xlsx

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

####Loading the data from the Text file

In [7]:
df_txt = pd.read_csv('pokemon_data.txt')
df_txt

    #\tName\tType 1\tType 2\tHP\tAttack\tDefense\tSp. Atk\tSp. Def\tSpeed\tGeneration\tLegendary
0    1\tBulbasaur\tGrass\tPoison\t45\t49\t49\t65\t6...
1    2\tIvysaur\tGrass\tPoison\t60\t62\t63\t80\t80\...
2    3\tVenusaur\tGrass\tPoison\t80\t82\t83\t100\t1...
3    3\tVenusaurMega Venusaur\tGrass\tPoison\t80\t1...
4    4\tCharmander\tFire\t\t39\t52\t43\t60\t50\t65\...
..                                                 ...
795  719\tDiancie\tRock\tFairy\t50\t100\t150\t100\t...
796  719\tDiancieMega Diancie\tRock\tFairy\t50\t160...
797  720\tHoopaHoopa Confined\tPsychic\tGhost\t80\t...
798  720\tHoopaHoopa Unbound\tPsychic\tDark\t80\t16...
799  721\tVolcanion\tFire\tWater\t80\t110\t120\t130...

[800 rows x 1 columns]

In [8]:
df_txt = pd.read_csv('pokemon_data.txt', delimiter='\t')
df_txt

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

###If we do not want to load all the data, just specify how many rows you want to load using head() and tail().

In [9]:
df.head(3)  # This will load the first 3 rows of the dataset

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,False

In [10]:
df.tail(3)  # This will load the last 3 rows of the dataset

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary
797,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,True
798,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,True

######Read the all Headers(Columns) of the dataset

In [11]:
df.columns

Index(['Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Legendary'],
      dtype='object')

######Read each Column content of the dataset

In [12]:
df['Name']

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [13]:
df['Name'][0:5]  # Show top 5 names of the particular column

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [14]:
df['Attack']

0       49
1       62
2       82
3      100
4       52
      ...
795    100
796    160
797    110
798    160
799    110
Name: Attack, Length: 800, dtype: int64

In [15]:
df[['Name', 'Attack', 'Defense']][0:4]  # Accessing the multiple columns

                    Name  Attack  Defense
0              Bulbasaur      49       49
1                Ivysaur      62       63
2               Venusaur      82       83
3  VenusaurMega Venusaur     100      123

######Read the rows of the dataset

In [16]:
df.iloc[0:2]  # Provides us 2 starting rows

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,False

In [17]:
df.iloc[2:6]  # Provides us with rows from index 2 to 5

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary
2,Venusaur,Grass,Poison,80,82,83,100,100,80,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,False
5,Charmeleon,Fire,NaN,58,64,58,80,65,80,False

######Read the specific location or more like a particular word from the rows and columns

In [18]:
df.iloc[3, 0]  # In [3, 1], 3 is the row and 0 is the column

'VenusaurMega Venusaur'

####Iterate through each row

In [19]:
for index, row in df.iterrows():
  print(index,row)

Streaming output truncated to the last 5000 lines.
Sp. Atk            65
Sp. Def            70
Speed              80
Legendary       False
Name: 152, dtype: object
153 Name         Aerodactyl
Type 1             Rock
Type 2           Flying
HP                   80
Attack              105
Defense              65
Sp. Atk              60
Sp. Def              75
Speed               130
Legendary         False
Name: 153, dtype: object
154 Name         AerodactylMega Aerodactyl
Type 1                            Rock
Type 2                          Flying
HP                                  80
Attack                             135
Defense                             85
Sp. Atk                             70
Sp. Def                             95
Speed                              150
Legendary                        False
Name: 154, dtype: object
155 Name         Snorlax
Type 1        Normal
Type 2           NaN
HP               160
Attack           110
Defense           65
Sp. Atk           65
Sp. Def          110
Speed             30
Legendary      False
Name: 155, dtype: object
156 Name         Articuno
Type 1            Ice
Type 2         Flying
HP                 90
Attack             85
Defense           100
Sp. Atk            95
Sp. Def           125
Speed              85
Legendary        True
Name: 156, dtype: object
157 Name           Zapdos
Type 1       Electric
Type 2         Flying
HP                 90
Attack             90
Defense            85
Sp. Atk           125
Sp. Def            90
Speed             100
Legendary        True
Name: 157, dtype: object
158 Name         Moltres
Type 1          Fire
Type 2        Flying
HP                90
Attack           100
Defense           90
Sp. Atk          125
Sp. Def           85
Speed             90
Legendary       True
Name: 158, dtype: object
159 Name         Dratini
Type 1        Dragon
Type 2           NaN
HP                41
Attack            64
Defense           45
Sp. Atk           50
Sp. Def           50
Speed             50
Legendary      False
Name: 159, dtype: object
160 Name         Dragonair
Type 1          Dragon
Type 2             NaN
HP                  61
Attack              84
Defense             65
Sp. Atk             70
Sp. Def             70
Speed               70
Legendary        False
Name: 160, dtype: object
161 Name         Dragonite
Type 1          Dragon
Type 2          Flying
HP                  91
Attack             134
Defense             95
Sp. Atk            100
Sp. Def            100
Speed               80
Legendary        False
Name: 161, dtype: object
162 Name          Mewtwo
Type 1       Psychic
Type 2           NaN
HP               106
Attack           110
Defense           90
Sp. Atk          154
Sp. Def           90
Speed            130
Legendary       True
Name: 162, dtype: object
163 Name         MewtwoMega Mewtwo X
Type 1                   Psychic
Type 2                  Fighting
HP                           106
Attack                       190
Defense                      100
Sp. Atk                      154
Sp. Def                      100
Speed                        130
Legendary                   True
Name: 163, dtype: object
164 Name         MewtwoMega Mewtwo Y
Type 1                   Psychic
Type 2                       NaN
HP                           106
Attack                       150
Defense                       70
Sp. Atk                      194
Sp. Def                      120
Speed                        140
Legendary                   True
Name: 164, dtype: object
165 Name             Mew
Type 1       Psychic
Type 2           NaN
HP               100
Attack           100
Defense          100
Sp. Atk          100
Sp. Def          100
Speed            100
Legendary      False
Name: 165, dtype: object
166 Name         Chikorita
Type 1           Grass
Type 2             NaN
HP                  45
Attack              49
Defense             65
Sp. Atk             49
Sp. Def             65
Speed               45
Legendary        False
Name: 166, dtype: object
167 Name         Bayleef
Type 1         Grass
Type 2           NaN
HP                60
Attack            62
Defense           80
Sp. Atk           63
Sp. Def           80
Speed             60
Legendary      False
Name: 167, dtype: object
168 Name         Meganium
Type 1          Grass
Type 2            NaN
HP                 80
Attack             82
Defense           100
Sp. Atk            83
Sp. Def           100
Speed              80
Legendary       False
Name: 168, dtype: object
169 Name         Cyndaquil
Type 1            Fire
Type 2             NaN
HP                  39
Attack              52
Defense             43
Sp. Atk             60
Sp. Def             50
Speed               65
Legendary        False
Name: 169, dtype: object
170 Name         Quilava
Type 1          Fire
Type 2           NaN
HP                58
Attack            64
Defense           58
Sp. Atk           80
Sp. Def           65
Speed             80
Legendary      False
Name: 170, dtype: object
171 Name         Typhlosion
Type 1             Fire
Type 2              NaN
HP                   78
Attack               84
Defense              78
Sp. Atk             109
Sp. Def              85
Speed               100
Legendary         False
Name: 171, dtype: object
172 Name         Totodile
Type 1          Water
Type 2            NaN
HP                 50
Attack             65
Defense            64
Sp. Atk            44
Sp. Def            48
Speed              43
Legendary       False
Name: 172, dtype: object
173 Name         Croconaw
Type 1          Water
Type 2            NaN
HP                 65
Attack             80
Defense            80
Sp. Atk            59
Sp. Def            63
Speed              58
Legendary       False
Name: 173, dtype: object
174 Name         Feraligatr
Type 1            Water
Type 2              NaN
HP                   85
Attack              105
Defense             100
Sp. Atk              79
Sp. Def              83
Speed                78
Legendary         False
Name: 174, dtype: object
175 Name         Sentret
Type 1        Normal
Type 2           NaN
HP                35
Attack            46
Defense           34
Sp. Atk           35
Sp. Def           45
Speed             20
Legendary      False
Name: 175, dtype: object
176 Name         Furret
Type 1       Normal
Type 2          NaN
HP               85
Attack           76
Defense          64
Sp. Atk          45
Sp. Def          55
Speed            90
Legendary     False
Name: 176, dtype: object
177 Name         Hoothoot
Type 1         Normal
Type 2         Flying
HP                 60
Attack             30
Defense            30
Sp. Atk            36
Sp. Def            56
Speed              50
Legendary       False
Name: 177, dtype: object
178 Name         Noctowl
Type 1        Normal
Type 2        Flying
HP               100
Attack            50
Defense           50
Sp. Atk           76
Sp. Def           96
Speed             70
Legendary      False
Name: 178, dtype: object
179 Name         Ledyba
Type 1          Bug
Type 2       Flying
HP               40
Attack           20
Defense          30
Sp. Atk          40
Sp. Def          80
Speed            55
Legendary     False
Name: 179, dtype: object
180 Name         Ledian
Type 1          Bug
Type 2       Flying
HP               55
Attack           35
Defense          50
Sp. Atk          55
Sp. Def         110
Speed            85
Legendary     False
Name: 180, dtype: object
181 Name         Spinarak
Type 1            Bug
Type 2         Poison
HP                 40
Attack             60
Defense            40
Sp. Atk            40
Sp. Def            40
Speed              30
Legendary       False
Name: 181, dtype: object
182 Name         Ariados
Type 1           Bug
Type 2        Poison
HP                70
Attack            90
Defense           70
Sp. Atk           60
Sp. Def           60
Speed             40
Legendary      False
Name: 182, dtype: object
183 Name         Crobat
Type 1       Poison
Type 2       Flying
HP               85
Attack           90
Defense          80
Sp. Atk          70
Sp. Def          80
Speed           130
Legendary     False
Name: 183, dtype: object
184 Name         Chinchou
Type 1          Water
Type 2       Electric
HP                 75
Attack             38
Defense            38
Sp. Atk            56
Sp. Def            56
Speed              67
Legendary       False
Name: 184, dtype: object
185 Name          Lanturn
Type 1          Water
Type 2       Electric
HP                125
Attack             58
Defense            58
Sp. Atk            76
Sp. Def            76
Speed              67
Legendary       False
Name: 185, dtype: object
186 Name            Pichu
Type 1       Electric
Type 2            NaN
HP                 20
Attack             40
Defense            15
Sp. Atk            35
Sp. Def            35
Speed              60
Legendary       False
Name: 186, dtype: object
187 Name         Cleffa
Type 1        Fairy
Type 2          NaN
HP               50
Attack           25
Defense          28
Sp. Atk          45
Sp. Def          55
Speed            15
Legendary     False
Name: 187, dtype: object
188 Name         Igglybuff
Type 1          Normal
Type 2           Fairy
HP                  90
Attack              30
Defense             15
Sp. Atk             40
Sp. Def             20
Speed               15
Legendary        False
Name: 188, dtype: object
189 Name         Togepi
Type 1        Fairy
Type 2          NaN
HP               35
Attack           20
Defense          65
Sp. Atk          40
Sp. Def          65
Speed            20
Legendary     False
Name: 189, dtype: object
190 Name         Togetic
Type 1         Fairy
Type 2        Flying
HP                55
Attack            40
Defense           85
Sp. Atk           80
Sp. Def          105
Speed             40
Legendary      False
Name: 190, dtype: object
191 Name            Natu
Type 1       Psychic
Type 2        Flying
HP                40
Attack            50
Defense           45
Sp. Atk           70
Sp. Def           45
Speed             70
Legendary      False
Name: 191, dtype: object
192 Name            Xatu
Type 1       Psychic
Type 2        Flying
HP                65
Attack            75
Defense           70
Sp. Atk           95
Sp. Def           70
Speed             95
Legendary      False
Name: 192, dtype: object
193 Name           Mareep
Type 1       Electric
Type 2            NaN
HP                 55
Attack             40
Defense            40
Sp. Atk            65
Sp. Def            45
Speed              35
Legendary       False
Name: 193, dtype: object
194 Name          Flaaffy
Type 1       Electric
Type 2            NaN
HP                 70
Attack             55
Defense            55
Sp. Atk            80
Sp. Def            60
Speed              45
Legendary       False
Name: 194, dtype: object
195 Name         Ampharos
Type 1       Electric
Type 2            NaN
HP                 90
Attack             75
Defense            85
Sp. Atk           115
Sp. Def            90
Speed              55
Legendary       False
Name: 195, dtype: object
196 Name         AmpharosMega Ampharos
Type 1                    Electric
Type 2                      Dragon
HP                              90
Attack                          95
Defense                        105
Sp. Atk                        165
Sp. Def                        110
Speed                           45
Legendary                    False
Name: 196, dtype: object
197 Name         Bellossom
Type 1           Grass
Type 2             NaN
HP                  75
Attack              80
Defense             95
Sp. Atk             90
Sp. Def            100
Speed               50
Legendary        False
Name: 197, dtype: object
198 Name         Marill
Type 1        Water
Type 2        Fairy
HP               70
Attack           20
Defense          50
Sp. Atk          20
Sp. Def          50
Speed            40
Legendary     False
Name: 198, dtype: object
199 Name         Azumarill
Type 1           Water
Type 2           Fairy
HP                 100
Attack              50
Defense             80
Sp. Atk             60
Sp. Def             80
Speed               50
Legendary        False
Name: 199, dtype: object
200 Name         Sudowoodo
Type 1            Rock
Type 2             NaN
HP                  70
Attack             100
Defense            115
Sp. Atk             30
Sp. Def             65
Speed               30
Legendary        False
Name: 200, dtype: object
201 Name         Politoed
Type 1          Water
Type 2            NaN
HP                 90
Attack             75
Defense            75
Sp. Atk            90
Sp. Def           100
Speed              70
Legendary       False
Name: 201, dtype: object
202 Name         Hoppip
Type 1        Grass
Type 2       Flying
HP               35
Attack           35
Defense          40
Sp. Atk          35
Sp. Def          55
Speed            50
Legendary     False
Name: 202, dtype: object
203 Name         Skiploom
Type 1          Grass
Type 2         Flying
HP                 55
Attack             45
Defense            50
Sp. Atk            45
Sp. Def            65
Speed              80
Legendary       False
Name: 203, dtype: object
204 Name         Jumpluff
Type 1          Grass
Type 2         Flying
HP                 75
Attack             55
Defense            70
Sp. Atk            55
Sp. Def            95
Speed             110
Legendary       False
Name: 204, dtype: object
205 Name          Aipom
Type 1       Normal
Type 2          NaN
HP               55
Attack           70
Defense          55
Sp. Atk          40
Sp. Def          55
Speed            85
Legendary     False
Name: 205, dtype: object
206 Name         Sunkern
Type 1         Grass
Type 2           NaN
HP                30
Attack            30
Defense           30
Sp. Atk           30
Sp. Def           30
Speed             30
Legendary      False
Name: 206, dtype: object
207 Name         Sunflora
Type 1          Grass
Type 2            NaN
HP                 75
Attack             75
Defense            55
Sp. Atk           105
Sp. Def            85
Speed              30
Legendary       False
Name: 207, dtype: object
208 Name          Yanma
Type 1          Bug
Type 2       Flying
HP               65
Attack           65
Defense          45
Sp. Atk          75
Sp. Def          45
Speed            95
Legendary     False
Name: 208, dtype: object
209 Name         Wooper
Type 1        Water
Type 2       Ground
HP               55
Attack           45
Defense          45
Sp. Atk          25
Sp. Def          25
Speed            15
Legendary     False
Name: 209, dtype: object
210 Name         Quagsire
Type 1          Water
Type 2         Ground
HP                 95
Attack             85
Defense            85
Sp. Atk            65
Sp. Def            65
Speed              35
Legendary       False
Name: 210, dtype: object
211 Name          Espeon
Type 1       Psychic
Type 2           NaN
HP                65
Attack            65
Defense           60
Sp. Atk          130
Sp. Def           95
Speed            110
Legendary      False
Name: 211, dtype: object
212 Name         Umbreon
Type 1          Dark
Type 2           NaN
HP                95
Attack            65
Defense          110
Sp. Atk           60
Sp. Def          130
Speed             65
Legendary      False
Name: 212, dtype: object
213 Name         Murkrow
Type 1          Dark
Type 2        Flying
HP                60
Attack            85
Defense           42
Sp. Atk           85
Sp. Def           42
Speed             91
Legendary      False
Name: 213, dtype: object
214 Name         Slowking
Type 1          Water
Type 2        Psychic
HP                 95
Attack             75
Defense            80
Sp. Atk           100
Sp. Def           110
Speed              30
Legendary       False
Name: 214, dtype: object
215 Name         Misdreavus
Type 1            Ghost
Type 2              NaN
HP                   60
Attack               60
Defense              60
Sp. Atk              85
Sp. Def              85
Speed                85
Legendary         False
Name: 215, dtype: object
216 Name           Unown
Type 1       Psychic
Type 2           NaN
HP                48
Attack            72
Defense           48
Sp. Atk           72
Sp. Def           48
Speed             48
Legendary      False
Name: 216, dtype: object
217 Name         Wobbuffet
Type 1         Psychic
Type 2             NaN
HP                 190
Attack              33
Defense             58
Sp. Atk             33
Sp. Def             58
Speed               33
Legendary        False
Name: 217, dtype: object
218 Name         Girafarig
Type 1          Normal
Type 2         Psychic
HP                  70
Attack              80
Defense             65
Sp. Atk             90
Sp. Def             65
Speed               85
Legendary        False
Name: 218, dtype: object
219 Name         Pineco
Type 1          Bug
Type 2          NaN
HP               50
Attack           65
Defense          90
Sp. Atk          35
Sp. Def          35
Speed            15
Legendary     False
Name: 219, dtype: object
220 Name         Forretress
Type 1              Bug
Type 2            Steel
HP                   75
Attack               90
Defense             140
Sp. Atk              60
Sp. Def              60
Speed                40
Legendary         False
Name: 220, dtype: object
221 Name         Dunsparce
Type 1          Normal
Type 2             NaN
HP                 100
Attack              70
Defense             70
Sp. Atk             65
Sp. Def             65
Speed               45
Legendary        False
Name: 221, dtype: object
222 Name         Gligar
Type 1       Ground
Type 2       Flying
HP               65
Attack           75
Defense         105
Sp. Atk          35
Sp. Def          65
Speed            85
Legendary     False
Name: 222, dtype: object
223 Name         Steelix
Type 1         Steel
Type 2        Ground
HP                75
Attack            85
Defense          200
Sp. Atk           55
Sp. Def           65
Speed             30
Legendary      False
Name: 223, dtype: object
224 Name         SteelixMega Steelix
Type 1                     Steel
Type 2                    Ground
HP                            75
Attack                       125
Defense                      230
Sp. Atk                       55
Sp. Def                       95
Speed                         30
Legendary                  False
Name: 224, dtype: object
225 Name         Snubbull
Type 1          Fairy
Type 2            NaN
HP                 60
Attack             80
Defense            50
Sp. Atk            40
Sp. Def            40
Speed              30
Legendary       False
Name: 225, dtype: object
226 Name         Granbull
Type 1          Fairy
Type 2            NaN
HP                 90
Attack            120
Defense            75
Sp. Atk            60
Sp. Def            60
Speed              45
Legendary       False
Name: 226, dtype: object
227 Name         Qwilfish
Type 1          Water
Type 2         Poison
HP                 65
Attack             95
Defense            75
Sp. Atk            55
Sp. Def            55
Speed              85
Legendary       False
Name: 227, dtype: object
228 Name         Scizor
Type 1          Bug
Type 2        Steel
HP               70
Attack          130
Defense         100
Sp. Atk          55
Sp. Def          80
Speed            65
Legendary     False
Name: 228, dtype: object
229 Name         ScizorMega Scizor
Type 1                     Bug
Type 2                   Steel
HP                          70
Attack                     150
Defense                    140
Sp. Atk                     65
Sp. Def                    100
Speed                       75
Legendary                False
Name: 229, dtype: object
230 Name         Shuckle
Type 1           Bug
Type 2          Rock
HP                20
Attack            10
Defense          230
Sp. Atk           10
Sp. Def          230
Speed              5

In [20]:
for index, row in df.iterrows():
  print(index,row['Name'])

607 Name         Whimsicott
Type 1            Grass
Type 2            Fairy
HP                   60
Attack               67
Defense              85
Sp. Atk              77
Sp. Def              75
Speed               116
Legendary         False
Name: 607, dtype: object
608 Name         Petilil
Type 1         Grass
Type 2           NaN
HP                45
Attack            35
Defense           50
Sp. Atk           70
Sp. Def           50
Speed             30
Legendary      False
Name: 608, dtype: object
609 Name         Lilligant
Type 1           Grass
Type 2             NaN
HP                  70
Attack              60
Defense             75
Sp. Atk            110
Sp. Def             75
Speed               90
Legendary        False
Name: 609, dtype: object
610 Name         Basculin
Type 1          Water
Type 2            NaN
HP                 70
Attack             92
Defense            65
Sp. Atk            80
Sp. Def            55
Speed              98
Legendary       False
Name: 610, dtype: object
611 Name         Sandile
Type 1        Ground
Type 2          Dark
HP                50
Attack            72
Defense           35
Sp. Atk           35
Sp. Def           35
Speed             65
Legendary      False
Name: 611, dtype: object
612 Name         Krokorok
Type 1         Ground
Type 2           Dark
HP                 60
Attack             82
Defense            45
Sp. Atk            45
Sp. Def            45
Speed              74
Legendary       False
Name: 612, dtype: object
613 Name         Krookodile
Type 1           Ground
Type 2             Dark
HP                   95
Attack              117
Defense              80
Sp. Atk              65
Sp. Def              70
Speed                92
Legendary         False
Name: 613, dtype: object
614 Name         Darumaka
Type 1           Fire
Type 2            NaN
HP                 70
Attack             90
Defense            45
Sp. Atk            15
Sp. Def            45
Speed              50
Legendary       False
Name: 614, dtype: object
615 Name         DarmanitanStandard Mode
Type 1                          Fire
Type 2                           NaN
HP                               105
Attack                           140
Defense                           55
Sp. Atk                           30
Sp. Def                           55
Speed                             95
Legendary                      False
Name: 615, dtype: object
616 Name         DarmanitanZen Mode
Type 1                     Fire
Type 2                  Psychic
HP                          105
Attack                       30
Defense                     105
Sp. Atk                     140
Sp. Def                     105
Speed                        55
Legendary                 False
Name: 616, dtype: object
617 Name         Maractus
Type 1          Grass
Type 2            NaN
HP                 75
Attack             86
Defense            67
Sp. Atk           106
Sp. Def            67
Speed              60
Legendary       False
Name: 617, dtype: object
618 Name         Dwebble
Type 1           Bug
Type 2          Rock
HP                50
Attack            65
Defense           85
Sp. Atk           35
Sp. Def           35
Speed             55
Legendary      False
Name: 618, dtype: object
619 Name         Crustle
Type 1           Bug
Type 2          Rock
HP                70
Attack            95
Defense          125
Sp. Atk           65
Sp. Def           75
Speed             45
Legendary      False
Name: 619, dtype: object
620 Name          Scraggy
Type 1           Dark
Type 2       Fighting
HP                 50
Attack             75
Defense            70
Sp. Atk            35
Sp. Def            70
Speed              48
Legendary       False
Name: 620, dtype: object
621 Name          Scrafty
Type 1           Dark
Type 2       Fighting
HP                 65
Attack             90
Defense           115
Sp. Atk            45
Sp. Def           115
Speed              58
Legendary       False
Name: 621, dtype: object
622 Name         Sigilyph
Type 1        Psychic
Type 2         Flying
HP                 72
Attack             58
Defense            80
Sp. Atk           103
Sp. Def            80
Speed              97
Legendary       False
Name: 622, dtype: object
623 Name         Yamask
Type 1        Ghost
Type 2          NaN
HP               38
Attack           30
Defense          85
Sp. Atk          55
Sp. Def          65
Speed            30
Legendary     False
Name: 623, dtype: object
624 Name         Cofagrigus
Type 1            Ghost
Type 2              NaN
HP                   58
Attack               50
Defense             145
Sp. Atk              95
Sp. Def             105
Speed                30
Legendary         False
Name: 624, dtype: object
625 Name         Tirtouga
Type 1          Water
Type 2           Rock
HP                 54
Attack             78
Defense           103
Sp. Atk            53
Sp. Def            45
Speed              22
Legendary       False
Name: 625, dtype: object
626 Name         Carracosta
Type 1            Water
Type 2             Rock
HP                   74
Attack              108
Defense             133
Sp. Atk              83
Sp. Def              65
Speed                32
Legendary         False
Name: 626, dtype: object
627 Name         Archen
Type 1         Rock
Type 2       Flying
HP               55
Attack          112
Defense          45
Sp. Atk          74
Sp. Def          45
Speed            70
Legendary     False
Name: 627, dtype: object
628 Name         Archeops
Type 1           Rock
Type 2         Flying
HP                 75
Attack            140
Defense            65
Sp. Atk           112
Sp. Def            65
Speed             110
Legendary       False
Name: 628, dtype: object
629 Name         Trubbish
Type 1         Poison
Type 2            NaN
HP                 50
Attack             50
Defense            62
Sp. Atk            40
Sp. Def            62
Speed              65
Legendary       False
Name: 629, dtype: object
630 Name         Garbodor
Type 1         Poison
Type 2            NaN
HP                 80
Attack             95
Defense            82
Sp. Atk            60
Sp. Def            82
Speed              75
Legendary       False
Name: 630, dtype: object
631 Name         Zorua
Type 1        Dark
Type 2         NaN
HP              40
Attack          65
Defense         40
Sp. Atk         80
Sp. Def         40
Speed           65
Legendary    False
Name: 631, dtype: object
632 Name         Zoroark
Type 1          Dark
Type 2           NaN
HP                60
Attack           105
Defense           60
Sp. Atk          120
Sp. Def           60
Speed            105
Legendary      False
Name: 632, dtype: object
633 Name         Minccino
Type 1         Normal
Type 2            NaN
HP                 55
Attack             50
Defense            40
Sp. Atk            40
Sp. Def            40
Speed              75
Legendary       False
Name: 633, dtype: object
634 Name         Cinccino
Type 1         Normal
Type 2            NaN
HP                 75
Attack             95
Defense            60
Sp. Atk            65
Sp. Def            60
Speed             115
Legendary       False
Name: 634, dtype: object
635 Name         Gothita
Type 1       Psychic
Type 2           NaN
HP                45
Attack            30
Defense           50
Sp. Atk           55
Sp. Def           65
Speed             45
Legendary      False
Name: 635, dtype: object
636 Name         Gothorita
Type 1         Psychic
Type 2             NaN
HP                  60
Attack              45
Defense             70
Sp. Atk             75
Sp. Def             85
Speed               55
Legendary        False
Name: 636, dtype: object
637 Name         Gothitelle
Type 1          Psychic
Type 2              NaN
HP                   70
Attack               55
Defense              95
Sp. Atk              95
Sp. Def             110
Speed                65
Legendary         False
Name: 637, dtype: object
638 Name         Solosis
Type 1       Psychic
Type 2           NaN
HP                45
Attack            30
Defense           40
Sp. Atk          105
Sp. Def           50
Speed             20
Legendary      False
Name: 638, dtype: object
639 Name         Duosion
Type 1       Psychic
Type 2           NaN
HP                65
Attack            40
Defense           50
Sp. Atk          125
Sp. Def           60
Speed             30
Legendary      False
Name: 639, dtype: object
640 Name         Reuniclus
Type 1         Psychic
Type 2             NaN
HP                 110
Attack              65
Defense             75
Sp. Atk            125
Sp. Def             85
Speed               30
Legendary        False
Name: 640, dtype: object
641 Name         Ducklett
Type 1          Water
Type 2         Flying
HP                 62
Attack             44
Defense            50
Sp. Atk            44
Sp. Def            50
Speed              55
Legendary       False
Name: 641, dtype: object
642 Name         Swanna
Type 1        Water
Type 2       Flying
HP               75
Attack           87
Defense          63
Sp. Atk          87
Sp. Def          63
Speed            98
Legendary     False
Name: 642, dtype: object
643 Name         Vanillite
Type 1             Ice
Type 2             NaN
HP                  36
Attack              50
Defense             50
Sp. Atk             65
Sp. Def             60
Speed               44
Legendary        False
Name: 643, dtype: object
644 Name         Vanillish
Type 1             Ice
Type 2             NaN
HP                  51
Attack              65
Defense             65
Sp. Atk             80
Sp. Def             75
Speed               59
Legendary        False
Name: 644, dtype: object
645 Name         Vanilluxe
Type 1             Ice
Type 2             NaN
HP                  71
Attack              95
Defense             85
Sp. Atk            110
Sp. Def             95
Speed               79
Legendary        False
Name: 645, dtype: object
646 Name         Deerling
Type 1         Normal
Type 2          Grass
HP                 60
Attack             60
Defense            50
Sp. Atk            40
Sp. Def            50
Speed              75
Legendary       False
Name: 646, dtype: object
647 Name         Sawsbuck
Type 1         Normal
Type 2          Grass
HP                 80
Attack            100
Defense            70
Sp. Atk            60
Sp. Def            70
Speed              95
Legendary       False
Name: 647, dtype: object
648 Name           Emolga
Type 1       Electric
Type 2         Flying
HP                 55
Attack             75
Defense            60
Sp. Atk            75
Sp. Def            60
Speed             103
Legendary       False
Name: 648, dtype: object
649 Name         Karrablast
Type 1              Bug
Type 2              NaN
HP                   50
Attack               75
Defense              45
Sp. Atk              40
Sp. Def              45
Speed                60
Legendary         False
Name: 649, dtype: object
650 Name         Escavalier
Type 1              Bug
Type 2            Steel
HP                   70
Attack              135
Defense             105
Sp. Atk              60
Sp. Def             105
Speed                20
Legendary         False
Name: 650, dtype: object
651 Name         Foongus
Type 1         Grass
Type 2        Poison
HP                69
Attack            55
Defense           45
Sp. Atk           55
Sp. Def           55
Speed             15
Legendary      False
Name: 651, dtype: object
652 Name         Amoonguss
Type 1           Grass
Type 2          Poison
HP                 114
Attack              85
Defense             70
Sp. Atk             85
Sp. Def             80
Speed               30
Legendary        False
Name: 652, dtype: object
653 Name         Frillish
Type 1          Water
Type 2          Ghost
HP                 55
Attack             40
Defense            50
Sp. Atk            65
Sp. Def            85
Speed              40
Legendary       False
Name: 653, dtype: object
654 Name         Jellicent
Type 1           Water
Type 2           Ghost
HP                 100
Attack              60
Defense             70
Sp. Atk             85
Sp. Def            105
Speed               60
Legendary        False
Name: 654, dtype: object
655 Name         Alomomola
Type 1           Water
Type 2             NaN
HP                 165
Attack              75
Defense             80
Sp. Atk             40
Sp. Def             45
Speed               65
Legendary        False
Name: 655, dtype: object
656 Name           Joltik
Type 1            Bug
Type 2       Electric
HP                 50
Attack             47
Defense            50
Sp. Atk            57
Sp. Def            50
Speed              65
Legendary       False
Name: 656, dtype: object
657 Name         Galvantula
Type 1              Bug
Type 2         Electric
HP                   70
Attack               77
Defense              60
Sp. Atk              97
Sp. Def              60
Speed               108
Legendary         False
Name: 657, dtype: object
658 Name         Ferroseed
Type 1           Grass
Type 2           Steel
HP                  44
Attack              50
Defense             91
Sp. Atk             24
Sp. Def             86
Speed               10
Legendary        False
Name: 658, dtype: object
659 Name         Ferrothorn
Type 1            Grass
Type 2            Steel
HP                   74
Attack               94
Defense             131
Sp. Atk              54
Sp. Def             116
Speed                20
Legendary         False
Name: 659, dtype: object
660 Name         Klink
Type 1       Steel
Type 2         NaN
HP              40
Attack          55
Defense         70
Sp. Atk         45
Sp. Def         60
Speed           30
Legendary    False
Name: 660, dtype: object
661 Name         Klang
Type 1       Steel
Type 2         NaN
HP              60
Attack          80
Defense         95
Sp. Atk         70
Sp. Def         85
Speed           50
Legendary    False
Name: 661, dtype: object
662 Name         Klinklang
Type 1           Steel
Type 2             NaN
HP                  60
Attack             100
Defense            115
Sp. Atk             70
Sp. Def             85
Speed               90
Legendary        False
Name: 662, dtype: object
663 Name           Tynamo
Type 1       Electric
Type 2            NaN
HP                 35
Attack             55
Defense            40
Sp. Atk            45
Sp. Def            40
Speed              60
Legendary       False
Name: 663, dtype: object
664 Name         Eelektrik
Type 1        Electric
Type 2             NaN
HP                  65
Attack              85
Defense             70
Sp. Atk             75
Sp. Def             70
Speed               40
Legendary        False
Name: 664, dtype: object
665 Name         Eelektross
Type 1         Electric
Type 2              NaN
HP                   85
Attack              115
Defense              80
Sp. Atk             105
Sp. Def              80
Speed                50
Legendary         False
Name: 665, dtype: object
666 Name          Elgyem
Type 1       Psychic
Type 2           NaN
HP                55
Attack            55
Defense           55
Sp. Atk           85
Sp. Def           55
Speed             30
Legendary      False
Name: 666, dtype: object
667 Name         Beheeyem
Type 1        Psychic
Type 2            NaN
HP                 75
Attack             75
Defense            75
Sp. Atk           125
Sp. Def            95
Speed              40
Legendary       False
Name: 667, dtype: object
668 Name         Litwick
Type 1         Ghost
Type 2          Fire
HP                50
Attack            30
Defense           55
Sp. Atk           65
Sp. Def           55
Speed             20
Legendary      False
Name: 668, dtype: object
669 Name         Lampent
Type 1         Ghost
Type 2          Fire
HP                60
Attack            40
Defense           60
Sp. Atk           95
Sp. Def           60
Speed             55
Legendary      False
Name: 669, dtype: object
670 Name         Chandelure
Type 1            Ghost
Type 2             Fire
HP                   60
Attack               55
Defense              90
Sp. Atk             145
Sp. Def              90
Speed                80
Legendary         False
Name: 670, dtype: object
671 Name           Axew
Type 1       Dragon
Type 2          NaN
HP               46
Attack           87
Defense          60
Sp. Atk          30
Sp. Def          40
Speed            57
Legendary     False
Name: 671, dtype: object
672 Name         Fraxure
Type 1        Dragon
Type 2           NaN
HP                66
Attack           117
Defense           70
Sp. Atk           40
Sp. Def           50
Speed             67
Legendary      False
Name: 672, dtype: object
673 Name         Haxorus
Type 1        Dragon
Type 2           NaN
HP                76
Attack           147
Defense           90
Sp. Atk           60
Sp. Def           70
Speed             97
Legendary      False
Name: 673, dtype: object
674 Name         Cubchoo
Type 1           Ice
Type 2           NaN
HP                55
Attack            70
Defense           40
Sp. Atk           60
Sp. Def           40
Speed             40
Legendary      False
Name: 674, dtype: object
675 Name         Beartic
Type 1           Ice
Type 2           NaN
HP                95
Attack           110
Defense           80
Sp. Atk           70
Sp. Def           80
Speed             50
Legendary      False
Name: 675, dtype: object
676 Name         Cryogonal
Type 1             Ice
Type 2             NaN
HP                  70
Attack              50
Defense             30
Sp. Atk             95
Sp. Def            135
Speed              105
Legendary        False
Name: 676, dtype: object
677 Name         Shelmet
Type 1           Bug
Type 2           NaN
HP                50
Attack            40
Defense           85
Sp. Atk           40
Sp. Def           65
Speed             25
Legendary      False
Name: 677, dtype: object
678 Name         Accelgor
Type 1            Bug
Type 2            NaN
HP                 80
Attack             70
Defense            40
Sp. Atk           100
Sp. Def            60
Speed             145
Legendary       False
Name: 678, dtype: object
679 Name         Stunfisk
Type 1         Ground
Type 2       Electric
HP                109
Attack             66
Defense            84
Sp. Atk            81
Sp. Def            99
Speed              32
Legendary       False
Name: 679, dtype: object
680 Name          Mienfoo
Type 1       Fighting
Type 2            NaN
HP                 45
Attack             85
Defense            50
Sp. Atk            55
Sp. Def            50
Speed              65
Legendary       False
Name: 680, dtype: object
681 Name         Mienshao
Type 1       Fighting
Type 2            NaN
HP                 65
Attack            125
Defense            60
Sp. Atk            95
Sp. Def            60
Speed             105
Legendary       False
Name: 681, dtype: object
682 Name         Druddigon
Type 1          Dragon
Type 2             NaN
HP                  77
Attack             120
Defense             90
Sp. Atk             60
Sp. Def             90
Speed               48
Legendary        False
Name: 682, dtype: object
683 Name         Golett
Type 1       Ground
Type 2        Ghost
HP               59
Attack           74
Defense          50
Sp. Atk          35
Sp. Def          50
Speed            35
Legendary     False
Name: 683, dtype: object
684 Name         Golurk
Type 1       Ground
Type 2        Ghost
HP               89
Attack          124
Defense          80
Sp. Atk          55
Sp. Def          80
Speed            55
Legendary     False
Name: 684, dtype: object
685 Name         Pawniard
Type 1           Dark
Type 2          Steel
HP                 45
Attack             85
Defense            70
Sp. Atk            40
Sp. Def            40
Speed              60
Legendary       False
Name: 685, dtype: object
686 Name         Bisharp
Type 1          Dark
Type 2         Steel
HP                65

###We can filter the data by providing some condtions using loc() function

In [21]:
df.loc[df['Type 1'] == 'Fire']  # This will print all the rows for which the 'Type 1' is Fire

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary
4,Charmander,Fire,NaN,39,52,43,60,50,65,False
5,Charmeleon,Fire,NaN,58,64,58,80,65,80,False
6,Charizard,Fire,Flying,78,84,78,109,85,100,False
7,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,False
8,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,False
42,Vulpix,Fire,NaN,38,41,40,50,65,65,False
43,Ninetales,Fire,NaN,73,76,75,81,100,100,False
63,Growlithe,Fire,NaN,55,70,45,70,50,60,False
64,Arcanine,Fire,NaN,90,110,80,100,80,95,False
83,Ponyta,Fire,NaN,50,85,55,65,65,90,False
84,Rapidash,Fire,NaN,65,100,70,80,80,105,False
135,Magmar,Fire,NaN,65,95,57,100,85,93,False
147,Flareon,Fire,NaN,65,130,60,95,110,65,False
158,Moltres,Fire,Flying,90,100,90,125,85,90,True
169,Cyndaquil,Fire,NaN,39,52,43,60,50,65,False
170,Quilava,Fire,NaN,58,64,58,80,65,80,False
171,Typhlosion,Fire,NaN,78,84,78,109,85,100,False
236,Slugma,Fire,NaN,40,40,40,70,40,20,False
237,Magcargo,Fire,Rock,50,50,120,80,80,30,False
259,Magby,Fire,NaN,45,75,37,70,55,83,False
263,Entei,Fire,NaN,115,115,85,90,75,100,True
270,Ho-oh,Fire,Flying,106,130,90,110,154,90,True
276,Torchic,Fire,NaN,45,60,40,70,50,45,False
277,Combusken,Fire,Fighting,60,85,60,85,60,55,False
278,Blaziken,Fire,Fighting,80,120,70,110,70,80,False
279,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,False
352,Numel,Fire,Ground,60,60,40,65,45,35,False
353,Camerupt,Fire,Ground,70,100,70,105,75,40,False
354,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,False
355,Torkoal,Fire,NaN,70,85,140,85,70,20,False
435,Chimchar,Fire,NaN,44,58,44,58,44,61,False
436,Monferno,Fire,Fighting,64,78,52,78,52,81,False
437,Infernape,Fire,Fighting,76,104,71,104,71,108,False
518,Magmortar,Fire,NaN,75,95,67,125,95,83,False
542,Heatran,Fire,Steel,91,90,106,130,106,77,True
557,Tepig,Fire,NaN,65,63,45,45,45,45,False
558,Pignite,Fire,Fighting,90,93,55,70,55,55,False
559,Emboar,Fire,Fighting,110,123,65,100,65,65,False
572,Pansear,Fire,NaN,50,53,48,53,48,64,False
573,Simisear,Fire,NaN,75,98,63,98,63,101,False
614,Darumaka,Fire,NaN,70,90,45,15,45,50,False
615,DarmanitanStandard Mode,Fire,NaN,105,140,55,30,55,95,False
616,DarmanitanZen Mode,Fire,Psychic,105,30,105,140,105,55,False
692,Heatmor,Fire,NaN,85,97,66,105,66,65,False
721,Fennekin,Fire,NaN,40,45,40,62,60,60,False
722,Braixen,Fire,NaN,59,59,58,90,70,73,False
723,Delphox,Fire,Psychic,75,69,72,114,100,104,False
730,Fletchinder,Fire,Flying,62,73,55,56,52,84,False
731,Talonflame,Fire,Flying,78,81,71,74,69,126,False
735,Litleo,Fire,Normal,62,50,58,73,54,72,False
736,Pyroar,Fire,Normal,86,68,72,109,66,106,False
799,Volcanion,Fire,Water,80,110,120,130,90,70,True

In [22]:
df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison')]  # This will show only those rows where Type 1 will be Grass and Type 2 will be poison only

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,False
48,Oddish,Grass,Poison,45,50,55,75,65,30,False
49,Gloom,Grass,Poison,60,65,70,85,75,40,False
50,Vileplume,Grass,Poison,75,80,85,110,90,50,False
75,Bellsprout,Grass,Poison,50,75,35,70,30,40,False
76,Weepinbell,Grass,Poison,65,90,50,85,45,55,False
77,Victreebel,Grass,Poison,80,105,65,100,70,70,False
344,Roselia,Grass,Poison,50,60,45,100,80,65,False
451,Budew,Grass,Poison,40,30,35,50,70,55,False
452,Roserade,Grass,Poison,60,70,65,125,105,90,False
651,Foongus,Grass,Poison,69,55,45,55,55,15,False
652,Amoonguss,Grass,Poison,114,85,70,85,80,30,False

In [23]:
df.loc[(df['Type 1'] == 'Water') | (df['Type 2'] == 'Rock')]  # This will show those rows where Type 1 will be Water or Type 2 will be Rock.

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary
9,Squirtle,Water,NaN,44,48,65,50,64,43,False
10,Wartortle,Water,NaN,59,63,80,65,80,58,False
11,Blastoise,Water,NaN,79,83,100,85,105,78,False
12,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,False
59,Psyduck,Water,NaN,50,52,48,65,50,55,False
...,...,...,...,...,...,...,...,...,...,...
724,Froakie,Water,NaN,41,56,40,62,44,71,False
725,Frogadier,Water,NaN,54,63,52,83,56,97,False
726,Greninja,Water,Dark,72,95,67,103,71,122,False
762,Clauncher,Water,NaN,50,53,62,58,63,44,False
763,Clawitzer,Water,NaN,71,73,88,120,89,59,False

In [24]:
df.loc[df['HP'] > 100]  # This will print all those rows where 'HP' is greater than 100

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary
44,Jigglypuff,Normal,Fairy,115,45,20,45,25,20,False
45,Wigglytuff,Normal,Fairy,140,70,45,85,50,45,False
96,Muk,Poison,NaN,105,105,75,65,100,50,False
120,Rhydon,Ground,Rock,105,130,120,45,45,40,False
121,Chansey,Normal,NaN,250,5,5,35,105,50,False
...,...,...,...,...,...,...,...,...,...,...
753,Aromatisse,Fairy,NaN,101,72,72,99,89,29,False
769,Aurorus,Rock,Ice,123,77,72,99,92,58,False
792,Xerneas,Fairy,NaN,126,131,95,131,98,99,True
793,Yveltal,Dark,Flying,126,131,95,131,98,99,True
794,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,True

In [25]:
# We will filter out all the names containing the word 'Mega'
df.loc[df['Name'].str.contains('Mega')]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,False
7,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,False
8,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,False
12,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,False
19,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,False
23,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,False
71,AlakazamMega Alakazam,Psychic,NaN,55,50,65,175,95,150,False
87,SlowbroMega Slowbro,Water,Psychic,95,75,180,130,80,30,False
102,GengarMega Gengar,Ghost,Poison,60,65,80,170,95,130,False
124,KangaskhanMega Kangaskhan,Normal,NaN,105,125,100,60,100,100,False
137,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,False
141,GyaradosMega Gyarados,Water,Dark,95,155,109,70,130,81,False
154,AerodactylMega Aerodactyl,Rock,Flying,80,135,85,70,95,150,False
163,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,True
164,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,True
168,Meganium,Grass,NaN,80,82,100,83,100,80,False
196,AmpharosMega Ampharos,Electric,Dragon,90,95,105,165,110,45,False
224,SteelixMega Steelix,Steel,Ground,75,125,230,55,95,30,False
229,ScizorMega Scizor,Bug,Steel,70,150,140,65,100,75,False
232,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,False
248,HoundoomMega Houndoom,Dark,Fire,75,90,90,140,90,115,False
268,TyranitarMega Tyranitar,Rock,Dark,100,164,150,95,120,71,False
275,SceptileMega Sceptile,Grass,Dragon,70,110,75,145,85,145,False
279,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,False
283,SwampertMega Swampert,Water,Ground,100,150,110,95,110,70,False
306,GardevoirMega Gardevoir,Psychic,Fairy,68,85,65,165,135,100,False
327,SableyeMega Sableye,Dark,Ghost,50,85,125,85,115,20,False
329,MawileMega Mawile,Steel,Fairy,50,105,125,55,95,50,False
333,AggronMega Aggron,Steel,NaN,70,140,230,60,80,50,False
336,MedichamMega Medicham,Fighting,Psychic,60,100,85,80,85,100,False
339,ManectricMega Manectric,Electric,NaN,70,75,80,135,80,135,False
349,SharpedoMega Sharpedo,Water,Dark,70,140,70,110,65,105,False
354,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,False
366,AltariaMega Altaria,Dragon,Fairy,75,110,110,110,105,80,False
387,BanetteMega Banette,Ghost,NaN,64,165,75,93,83,75,False
393,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,False
397,GlalieMega Glalie,Ice,NaN,80,120,80,120,80,100,False
409,SalamenceMega Salamence,Dragon,Flying,95,145,130,120,90,120,False
413,MetagrossMega Metagross,Steel,Psychic,80,145,150,105,110,110,False
418,LatiasMega Latias,Dragon,Psychic,80,100,120,140,150,110,True
420,LatiosMega Latios,Dragon,Psychic,80,130,100,160,120,110,True
426,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,True
476,LopunnyMega Lopunny,Normal,Fighting,65,136,94,54,96,135,False
494,GarchompMega Garchomp,Dragon,Ground,108,170,115,120,95,92,False
498,LucarioMega Lucario,Fighting,Steel,70,145,88,140,70,112,False
511,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,False
527,GalladeMega Gallade,Psychic,Fighting,68,165,95,65,115,110,False
591,AudinoMega Audino,Normal,Fairy,103,60,126,80,126,50,False
796,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,True

In [26]:
# We will filter out all those names not containing the word 'Mega' by using the name '~'
df.loc[~df['Name'].str.contains('Mega')]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,False
5,Charmeleon,Fire,NaN,58,64,58,80,65,80,False
...,...,...,...,...,...,...,...,...,...,...
794,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,True
795,Diancie,Rock,Fairy,50,100,150,100,150,50,True
797,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,True
798,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,True

In [27]:
# This will filter all the names starting from 'Pi' using regular expression
df.loc[df['Name'].str.contains('^Pi[a-z]*', regex=True)]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary
20,Pidgey,Normal,Flying,40,45,40,35,35,56,False
21,Pidgeotto,Normal,Flying,63,60,55,50,50,71,False
22,Pidgeot,Normal,Flying,83,80,75,70,70,101,False
23,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,False
30,Pikachu,Electric,NaN,35,55,40,50,50,90,False
136,Pinsir,Bug,NaN,65,125,100,55,70,85,False
137,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,False
186,Pichu,Electric,NaN,20,40,15,35,35,60,False
219,Pineco,Bug,NaN,50,65,90,35,35,15,False
239,Piloswine,Ice,Ground,100,100,80,60,60,50,False
438,Piplup,Water,NaN,53,51,53,61,56,40,False
558,Pignite,Fire,Fighting,90,93,55,70,55,55,False
578,Pidove,Normal,Flying,50,55,50,36,30,43,False

In [28]:
# Change a particular word in the dataframe like whereever the word 'Nan' is written in Type 1 we want it to be 'Solid Rock'
df.loc[df['Type 1'] == 'Nan', 'Type 1'] = 'Solid Rock'
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,False
...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,True
796,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,True
797,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,True
798,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,True

###Sorting the data

In [29]:
df.sort_values('Name')  # This will sort all the names in the Names column in alphabetical order

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary
510,Abomasnow,Grass,Ice,90,92,75,92,85,60,False
511,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,False
68,Abra,Psychic,NaN,25,20,15,105,55,90,False
392,Absol,Dark,NaN,65,130,60,75,60,75,False
393,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,False
...,...,...,...,...,...,...,...,...,...,...
632,Zoroark,Dark,NaN,60,105,60,120,60,105,False
631,Zorua,Dark,NaN,40,65,40,80,40,65,False
46,Zubat,Poison,Flying,40,45,35,30,40,55,False
695,Zweilous,Dark,Dragon,72,85,70,65,70,58,False
794,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,True

In [30]:
df.sort_values('Name', ascending=False)  # This will sort all names in Names column but in reverse alphabetical order

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary
794,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,True
695,Zweilous,Dark,Dragon,72,85,70,65,70,58,False
46,Zubat,Poison,Flying,40,45,35,30,40,55,False
631,Zorua,Dark,NaN,40,65,40,80,40,65,False
632,Zoroark,Dark,NaN,60,105,60,120,60,105,False
...,...,...,...,...,...,...,...,...,...,...
393,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,False
392,Absol,Dark,NaN,65,130,60,75,60,75,False
68,Abra,Psychic,NaN,25,20,15,105,55,90,False
511,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,False
510,Abomasnow,Grass,Ice,90,92,75,92,85,60,False

In [31]:
df.sort_values(['HP', 'Attack'], ascending=[1, 0])  # This will sort HP column in asc and Attack column in desc(1 means ascending & 0 means descending)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary
316,Shedinja,Bug,Ghost,1,90,45,30,30,40,False
55,Diglett,Ground,NaN,10,55,25,35,45,95,False
186,Pichu,Electric,NaN,20,40,15,35,35,60,False
388,Duskull,Ghost,NaN,20,40,90,30,90,25,False
487,Mime Jr.,Psychic,Fairy,20,25,45,70,90,60,False
...,...,...,...,...,...,...,...,...,...,...
655,Alomomola,Water,NaN,165,75,80,40,45,65,False
351,Wailord,Water,NaN,170,90,45,90,45,60,False
217,Wobbuffet,Psychic,NaN,190,33,58,33,58,33,False
121,Chansey,Normal,NaN,250,5,5,35,105,50,False
261,Blissey,Normal,NaN,255,10,10,75,135,55,False

###Making changes to the data

In [32]:
df.head(10)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,False
5,Charmeleon,Fire,NaN,58,64,58,80,65,80,False
6,Charizard,Fire,Flying,78,84,78,109,85,100,False
7,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,False
8,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,False
9,Squirtle,Water,NaN,44,48,65,50,64,43,False

In [33]:
# Create a new column in the dataset called "Total" which includes the sum of some columns
df['Total Power'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
df.head(5)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary,Total Power
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,False,318
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,False,405
2,Venusaur,Grass,Poison,80,82,83,100,100,80,False,525
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,False,625
4,Charmander,Fire,NaN,39,52,43,60,50,65,False,309

In [34]:
# We can also sum the columns like this
# We will create another column
df['Total Sum'] = df.iloc[:, 3:10].sum(axis=1)  # In [:, 3:10], first ':' means all the rows and '3:10' means from 3rd column to 9 column
df.head(5)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary,Total Power,Total Sum
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,False,318,318.0
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,False,405,405.0
2,Venusaur,Grass,Poison,80,82,83,100,100,80,False,525,525.0
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,False,625,625.0
4,Charmander,Fire,NaN,39,52,43,60,50,65,False,309,309.0

In [35]:
# Now remove the extra Total column that we have created just to show the another way of doing sum of columns
df = df.drop(columns=['Total Sum'])

In [36]:
df.head(5)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary,Total Power
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,False,318
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,False,405
2,Venusaur,Grass,Poison,80,82,83,100,100,80,False,525
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,False,625
4,Charmander,Fire,NaN,39,52,43,60,50,65,False,309

###Re-arranging or Organizing the column headers

In [37]:
df.head(5)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary,Total Power
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,False,318
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,False,405
2,Venusaur,Grass,Poison,80,82,83,100,100,80,False,525
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,False,625
4,Charmander,Fire,NaN,39,52,43,60,50,65,False,309

In [38]:
df = df[['Name', 'Type 1', 'Type 2', 'Legendary', 'HP', 'Attack', 'Defense', 'Speed', 'Sp. Atk', 'Sp. Def', 'Total Power']]
df

,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Speed,Sp. Atk,Sp. Def,Total Power
0,Bulbasaur,Grass,Poison,False,45,49,49,45,65,65,318
1,Ivysaur,Grass,Poison,False,60,62,63,60,80,80,405
2,Venusaur,Grass,Poison,False,80,82,83,80,100,100,525
3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,80,122,120,625
4,Charmander,Fire,NaN,False,39,52,43,65,60,50,309
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,True,50,100,150,50,100,150,600
796,DiancieMega Diancie,Rock,Fairy,True,50,160,110,110,160,110,700
797,HoopaHoopa Confined,Psychic,Ghost,True,80,110,60,70,150,130,600
798,HoopaHoopa Unbound,Psychic,Dark,True,80,160,60,80,170,130,680
799,Volcanion,Fire,Water,True,80,110,120,70,130,90,600

######As Typing all header names can be a bit annoying, so we can also re-arrange the column headers by its index position and at once

In [39]:
cols = list(df.columns)  # make a list of all column headers and stored in a variable 'col'
df = df[cols[0:8] + [cols[9]] + [cols[8]] + [cols[-1]]]  # arranging through indexing, not suitable for using when your data will keep getting fluctuating
df

,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Speed,Sp. Def,Sp. Atk,Total Power
0,Bulbasaur,Grass,Poison,False,45,49,49,45,65,65,318
1,Ivysaur,Grass,Poison,False,60,62,63,60,80,80,405
2,Venusaur,Grass,Poison,False,80,82,83,80,100,100,525
3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,80,120,122,625
4,Charmander,Fire,NaN,False,39,52,43,65,50,60,309
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,True,50,100,150,50,150,100,600
796,DiancieMega Diancie,Rock,Fairy,True,50,160,110,110,110,160,700
797,HoopaHoopa Confined,Psychic,Ghost,True,80,110,60,70,130,150,600
798,HoopaHoopa Unbound,Psychic,Dark,True,80,160,60,80,130,170,680
799,Volcanion,Fire,Water,True,80,110,120,70,90,130,600

####Saving the data (Exporting into desired format)

In [40]:
df.head()

,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Speed,Sp. Def,Sp. Atk,Total Power
0,Bulbasaur,Grass,Poison,False,45,49,49,45,65,65,318
1,Ivysaur,Grass,Poison,False,60,62,63,60,80,80,405
2,Venusaur,Grass,Poison,False,80,82,83,80,100,100,525
3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,80,120,122,625
4,Charmander,Fire,NaN,False,39,52,43,65,50,60,309

In [41]:
df.to_csv('modified.csv')  # saving your data into the new csv file
df.to_csv('modified.xlsx')  # saving your data into the new excel file
df.to_csv('modified.txt')  # saving your data into the new txt file

####Reset the index

In [42]:
new_df = df.iloc[5:10]
new_df

,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Speed,Sp. Def,Sp. Atk,Total Power
5,Charmeleon,Fire,NaN,False,58,64,58,80,65,80,405
6,Charizard,Fire,Flying,False,78,84,78,100,85,109,534
7,CharizardMega Charizard X,Fire,Dragon,False,78,130,111,100,85,130,634
8,CharizardMega Charizard Y,Fire,Flying,False,78,104,78,100,115,159,634
9,Squirtle,Water,NaN,False,44,48,65,43,64,50,314

######In the above table as we have selected rows from index 5 to 10 then the index will also be fluctuating obviously. So to start the index from the zero position in this new dataframe using the reset_index() function

In [43]:
new_df.reset_index(drop=True)

,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Speed,Sp. Def,Sp. Atk,Total Power
0,Charmeleon,Fire,NaN,False,58,64,58,80,65,80,405
1,Charizard,Fire,Flying,False,78,84,78,100,85,109,534
2,CharizardMega Charizard X,Fire,Dragon,False,78,130,111,100,85,130,634
3,CharizardMega Charizard Y,Fire,Flying,False,78,104,78,100,115,159,634
4,Squirtle,Water,NaN,False,44,48,65,43,64,50,314

##Aggregate Statistics (GroupBy)

######Suppose we want to see the avg HP or Attack of all the pokemon groupby for the type they are

In [44]:
df.groupby(['Type 1']).mean()  # averages of all the Type 1 pokemon

<ipython-input-44-bef1ed6e19b3>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['Type 1']).mean()  # averages of all the Type 1 pokemon

,Legendary,HP,Attack,Defense,Speed,Sp. Def,Sp. Atk,Total Power
Type 1,,,,,,,,
Bug,0.000000,56.884058,70.971014,70.724638,61.681159,64.797101,53.869565,378.927536
Dark,0.064516,66.806452,88.387097,70.225806,76.161290,69.516129,74.645161,445.741935
Dragon,0.375000,83.312500,112.125000,86.375000,83.031250,88.843750,96.843750,550.531250
Electric,0.090909,59.795455,69.090909,66.295455,84.500000,73.704545,90.022727,443.409091
Fairy,0.058824,74.117647,61.529412,65.705882,48.588235,84.705882,78.529412,413.176471
Fighting,0.000000,69.851852,96.777778,65.925926,66.074074,64.703704,53.111111,416.444444
Fire,0.096154,69.903846,84.769231,67.769231,74.442308,72.211538,88.980769,458.076923
Flying,0.500000,70.750000,78.750000,66.250000,102.500000,72.500000,94.250000,485.000000
Ghost,0.062500,64.437500,73.781250,81.187500,64.343750,76.468750,79.343750,439.562500
Grass,0.042857,67.271429,73.214286,70.800000,61.928571,70.428571,77.500000,421.142857
Ground,0.125000,73.781250,95.750000,84.843750,63.906250,62.750000,56.468750,437.500000
Ice,0.083333,72.000000,72.750000,71.416667,63.458333,76.291667,77.541667,433.458333
Normal,0.020408,77.275510,73.469388,59.846939,71.551020,63.724490,55.816327,401.683673
Poison,0.000000,67.250000,74.678571,68.821429,63.571429,64.392857,60.428571,399.142857
Psychic,0.245614,70.631579,71.456140,67.684211,81.491228,86.280702,98.403509,475.947368
Rock,0.090909,65.363636,92.863636,100.795455,55.909091,75.477273,63.340909,453.750000
Steel,0.148148,65.222222,92.703704,126.370370,55.259259,80.629630,67.518519,487.703704
Water,0.035714,72.062500,74.151786,72.946429,65.964286,70.517857,74.812500,430.455357

In [45]:
df.groupby(['Type 1']).mean().sort_values('Defense', ascending=False)  # sorting the average of defense
# steel type pokemon has the highest defense

<ipython-input-45-7355aea3802b>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['Type 1']).mean().sort_values('Defense', ascending=False)  # sorting the average of defense

,Legendary,HP,Attack,Defense,Speed,Sp. Def,Sp. Atk,Total Power
Type 1,,,,,,,,
Steel,0.148148,65.222222,92.703704,126.370370,55.259259,80.629630,67.518519,487.703704
Rock,0.090909,65.363636,92.863636,100.795455,55.909091,75.477273,63.340909,453.750000
Dragon,0.375000,83.312500,112.125000,86.375000,83.031250,88.843750,96.843750,550.531250
Ground,0.125000,73.781250,95.750000,84.843750,63.906250,62.750000,56.468750,437.500000
Ghost,0.062500,64.437500,73.781250,81.187500,64.343750,76.468750,79.343750,439.562500
Water,0.035714,72.062500,74.151786,72.946429,65.964286,70.517857,74.812500,430.455357
Ice,0.083333,72.000000,72.750000,71.416667,63.458333,76.291667,77.541667,433.458333
Grass,0.042857,67.271429,73.214286,70.800000,61.928571,70.428571,77.500000,421.142857
Bug,0.000000,56.884058,70.971014,70.724638,61.681159,64.797101,53.869565,378.927536
Dark,0.064516,66.806452,88.387097,70.225806,76.161290,69.516129,74.645161,445.741935
Poison,0.000000,67.250000,74.678571,68.821429,63.571429,64.392857,60.428571,399.142857
Fire,0.096154,69.903846,84.769231,67.769231,74.442308,72.211538,88.980769,458.076923
Psychic,0.245614,70.631579,71.456140,67.684211,81.491228,86.280702,98.403509,475.947368
Electric,0.090909,59.795455,69.090909,66.295455,84.500000,73.704545,90.022727,443.409091
Flying,0.500000,70.750000,78.750000,66.250000,102.500000,72.500000,94.250000,485.000000
Fighting,0.000000,69.851852,96.777778,65.925926,66.074074,64.703704,53.111111,416.444444
Fairy,0.058824,74.117647,61.529412,65.705882,48.588235,84.705882,78.529412,413.176471
Normal,0.020408,77.275510,73.469388,59.846939,71.551020,63.724490,55.816327,401.683673

In [46]:
df.groupby(['Type 1']).mean().sort_values('Attack', ascending=False)  # sorting the average of average
# dragon has the highest attack

<ipython-input-46-4d46b3066ed4>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['Type 1']).mean().sort_values('Attack', ascending=False)  # sorting the average of average

,Legendary,HP,Attack,Defense,Speed,Sp. Def,Sp. Atk,Total Power
Type 1,,,,,,,,
Dragon,0.375000,83.312500,112.125000,86.375000,83.031250,88.843750,96.843750,550.531250
Fighting,0.000000,69.851852,96.777778,65.925926,66.074074,64.703704,53.111111,416.444444
Ground,0.125000,73.781250,95.750000,84.843750,63.906250,62.750000,56.468750,437.500000
Rock,0.090909,65.363636,92.863636,100.795455,55.909091,75.477273,63.340909,453.750000
Steel,0.148148,65.222222,92.703704,126.370370,55.259259,80.629630,67.518519,487.703704
Dark,0.064516,66.806452,88.387097,70.225806,76.161290,69.516129,74.645161,445.741935
Fire,0.096154,69.903846,84.769231,67.769231,74.442308,72.211538,88.980769,458.076923
Flying,0.500000,70.750000,78.750000,66.250000,102.500000,72.500000,94.250000,485.000000
Poison,0.000000,67.250000,74.678571,68.821429,63.571429,64.392857,60.428571,399.142857
Water,0.035714,72.062500,74.151786,72.946429,65.964286,70.517857,74.812500,430.455357
Ghost,0.062500,64.437500,73.781250,81.187500,64.343750,76.468750,79.343750,439.562500
Normal,0.020408,77.275510,73.469388,59.846939,71.551020,63.724490,55.816327,401.683673
Grass,0.042857,67.271429,73.214286,70.800000,61.928571,70.428571,77.500000,421.142857
Ice,0.083333,72.000000,72.750000,71.416667,63.458333,76.291667,77.541667,433.458333
Psychic,0.245614,70.631579,71.456140,67.684211,81.491228,86.280702,98.403509,475.947368
Bug,0.000000,56.884058,70.971014,70.724638,61.681159,64.797101,53.869565,378.927536
Electric,0.090909,59.795455,69.090909,66.295455,84.500000,73.704545,90.022727,443.409091
Fairy,0.058824,74.117647,61.529412,65.705882,48.588235,84.705882,78.529412,413.176471

In [47]:
df.groupby(['Type 1']).sum()

<ipython-input-47-f4b7b56c40b5>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['Type 1']).sum()

,Legendary,HP,Attack,Defense,Speed,Sp. Def,Sp. Atk,Total Power
Type 1,,,,,,,,
Bug,0,3925,4897,4880,4256,4471,3717,26146
Dark,2,2071,2740,2177,2361,2155,2314,13818
Dragon,12,2666,3588,2764,2657,2843,3099,17617
Electric,4,2631,3040,2917,3718,3243,3961,19510
Fairy,1,1260,1046,1117,826,1440,1335,7024
Fighting,0,1886,2613,1780,1784,1747,1434,11244
Fire,5,3635,4408,3524,3871,3755,4627,23820
Flying,2,283,315,265,410,290,377,1940
Ghost,2,2062,2361,2598,2059,2447,2539,14066
Grass,3,4709,5125,4956,4335,4930,5425,29480
Ground,4,2361,3064,2715,2045,2008,1807,14000
Ice,2,1728,1746,1714,1523,1831,1861,10403
Normal,2,7573,7200,5865,7012,6245,5470,39365
Poison,0,1883,2091,1927,1780,1803,1692,11176
Psychic,14,4026,4073,3858,4645,4918,5609,27129
Rock,4,2876,4086,4435,2460,3321,2787,19965
Steel,4,1761,2503,3412,1492,2177,1823,13168
Water,4,8071,8305,8170,7388,7898,8379,48211

In [48]:
df.groupby(['Type 1']).count()

,Name,Type 2,Legendary,HP,Attack,Defense,Speed,Sp. Def,Sp. Atk,Total Power
Type 1,,,,,,,,,,
Bug,69,52,69,69,69,69,69,69,69,69
Dark,31,21,31,31,31,31,31,31,31,31
Dragon,32,21,32,32,32,32,32,32,32,32
Electric,44,17,44,44,44,44,44,44,44,44
Fairy,17,2,17,17,17,17,17,17,17,17
Fighting,27,7,27,27,27,27,27,27,27,27
Fire,52,24,52,52,52,52,52,52,52,52
Flying,4,2,4,4,4,4,4,4,4,4
Ghost,32,22,32,32,32,32,32,32,32,32
Grass,70,37,70,70,70,70,70,70,70,70
Ground,32,19,32,32,32,32,32,32,32,32
Ice,24,11,24,24,24,24,24,24,24,24
Normal,98,37,98,98,98,98,98,98,98,98
Poison,28,13,28,28,28,28,28,28,28,28
Psychic,57,19,57,57,57,57,57,57,57,57
Rock,44,35,44,44,44,44,44,44,44,44
Steel,27,22,27,27,27,27,27,27,27,27
Water,112,53,112,112,112,112,112,112,112,112

In [49]:
df['count'] = 1  # creating column named count
df.groupby(['Type 1']).count()['count']

<ipython-input-49-893808c8adf4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['count'] = 1  # creating column named count

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: count, dtype: int64

In [50]:
df

,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Speed,Sp. Def,Sp. Atk,Total Power,count
0,Bulbasaur,Grass,Poison,False,45,49,49,45,65,65,318,1
1,Ivysaur,Grass,Poison,False,60,62,63,60,80,80,405,1
2,Venusaur,Grass,Poison,False,80,82,83,80,100,100,525,1
3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,80,120,122,625,1
4,Charmander,Fire,NaN,False,39,52,43,65,50,60,309,1
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,True,50,100,150,50,150,100,600,1
796,DiancieMega Diancie,Rock,Fairy,True,50,160,110,110,110,160,700,1
797,HoopaHoopa Confined,Psychic,Ghost,True,80,110,60,70,130,150,600,1
798,HoopaHoopa Unbound,Psychic,Dark,True,80,160,60,80,130,170,680,1
799,Volcanion,Fire,Water,True,80,110,120,70,90,130,600,1

##Working with large amount of data

In [51]:
new_df = pd.DataFrame(columns=df.columns)  # creating new dataframe with the same column as orginal dataframe

for dataf in pd.read_csv('modified.csv', chunksize=5):   # means 5 rows will get passed at a time, 'dataf' contains only 5 rows of the dataset, this will load the dataset but in chunk of 5

  result = df.groupby(['Type 1']).count()  # getting count of Type 1 column
  new_df = pd.concat([new_df, result])  # concatenting the two dataframes i.e, df and new_df, basically it takes your new dataframe as you through chunks, appends on results and store it back to new dataframe

In [52]:
new_df

,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Speed,Sp. Def,Sp. Atk,Total Power,count
Bug,69,NaN,52,69,69,69,69,69,69,69,69,69
Dark,31,NaN,21,31,31,31,31,31,31,31,31,31
Dragon,32,NaN,21,32,32,32,32,32,32,32,32,32
Electric,44,NaN,17,44,44,44,44,44,44,44,44,44
Fairy,17,NaN,2,17,17,17,17,17,17,17,17,17
...,...,...,...,...,...,...,...,...,...,...,...,...
Poison,28,NaN,13,28,28,28,28,28,28,28,28,28
Psychic,57,NaN,19,57,57,57,57,57,57,57,57,57
Rock,44,NaN,35,44,44,44,44,44,44,44,44,44
Steel,27,NaN,22,27,27,27,27,27,27,27,27,27
Water,112,NaN,53,112,112,112,112,112,112,112,112,112

###Conversion of Data Types

In [54]:
df.head()

,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Speed,Sp. Def,Sp. Atk,Total Power,count
0,Bulbasaur,Grass,Poison,False,45,49,49,45,65,65,318,1
1,Ivysaur,Grass,Poison,False,60,62,63,60,80,80,405,1
2,Venusaur,Grass,Poison,False,80,82,83,80,100,100,525,1
3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,80,120,122,625,1
4,Charmander,Fire,NaN,False,39,52,43,65,50,60,309,1

In [64]:
# Here the data type of the 'Total Power' column is int
df['Total Power'].dtype

dtype('int64')

In [65]:
# Now we have changed the data type of 'Total Power' from int to float
df['Total Power'] = df['Total Power'].astype(float)

<ipython-input-65-6d45c3305884>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total Power'] = df['Total Power'].astype(float)

In [68]:
df

,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Speed,Sp. Def,Sp. Atk,Total Power,count
0,Bulbasaur,Grass,Poison,False,45,49,49,45,65,65,318.0,1
1,Ivysaur,Grass,Poison,False,60,62,63,60,80,80,405.0,1
2,Venusaur,Grass,Poison,False,80,82,83,80,100,100,525.0,1
3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,80,120,122,625.0,1
4,Charmander,Fire,NaN,False,39,52,43,65,50,60,309.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,True,50,100,150,50,150,100,600.0,1
796,DiancieMega Diancie,Rock,Fairy,True,50,160,110,110,110,160,700.0,1
797,HoopaHoopa Confined,Psychic,Ghost,True,80,110,60,70,130,150,600.0,1
798,HoopaHoopa Unbound,Psychic,Dark,True,80,160,60,80,130,170,680.0,1
799,Volcanion,Fire,Water,True,80,110,120,70,90,130,600.0,1

#Removing the missing values in the DataFrame

In [69]:
# 'Nan' represents the null value
df

,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Speed,Sp. Def,Sp. Atk,Total Power,count
0,Bulbasaur,Grass,Poison,False,45,49,49,45,65,65,318.0,1
1,Ivysaur,Grass,Poison,False,60,62,63,60,80,80,405.0,1
2,Venusaur,Grass,Poison,False,80,82,83,80,100,100,525.0,1
3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,80,120,122,625.0,1
4,Charmander,Fire,NaN,False,39,52,43,65,50,60,309.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,True,50,100,150,50,150,100,600.0,1
796,DiancieMega Diancie,Rock,Fairy,True,50,160,110,110,110,160,700.0,1
797,HoopaHoopa Confined,Psychic,Ghost,True,80,110,60,70,130,150,600.0,1
798,HoopaHoopa Unbound,Psychic,Dark,True,80,160,60,80,130,170,680.0,1
799,Volcanion,Fire,Water,True,80,110,120,70,90,130,600.0,1

######Dropping all the rows which contains the missing values

In [70]:
df.dropna()

,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Speed,Sp. Def,Sp. Atk,Total Power,count
0,Bulbasaur,Grass,Poison,False,45,49,49,45,65,65,318.0,1
1,Ivysaur,Grass,Poison,False,60,62,63,60,80,80,405.0,1
2,Venusaur,Grass,Poison,False,80,82,83,80,100,100,525.0,1
3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,80,120,122,625.0,1
6,Charizard,Fire,Flying,False,78,84,78,100,85,109,534.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,True,50,100,150,50,150,100,600.0,1
796,DiancieMega Diancie,Rock,Fairy,True,50,160,110,110,110,160,700.0,1
797,HoopaHoopa Confined,Psychic,Ghost,True,80,110,60,70,130,150,600.0,1
798,HoopaHoopa Unbound,Psychic,Dark,True,80,160,60,80,130,170,680.0,1
799,Volcanion,Fire,Water,True,80,110,120,70,90,130,600.0,1

######Dropping all the null values from the specific column

In [72]:
df_txt

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [76]:
df_txt.dropna(subset='Type 2')

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True